<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">{{ 'top-menu.home' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about/home">{{ 'top-menu.about' | translate }}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>